@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

/* Root and Theme styles */
:root{
    --bg-color: #ffffff;
    --text-color: #1a1b1f;
    --border-divider: rgba(128, 128, 128, 0.37);

    font-family: 'Inter', sans-serif;

}
.dark{
    --bg-color: #1a1b1f;
    --text-color: #ffffff;
    --border-divider: rgba(128, 128, 128, 0.37);

    font-family: 'Inter', sans-serif;
}
