/* Root and Theme styles */
:root{
    --bg-color: #ffffff;
    --text-color: #1a1b1f;
    --border-divider: rgba(128, 128, 128, 0.37);

    font-family: 'Inter', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
}
.dark{
    --bg-color: #1a1b1f;
    --text-color: #ffffff;
    --border-divider: rgba(128, 128, 128, 0.37);

    font-family: 'Inter', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
}
/*UTILITY*/

*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
}

.link-reset {
  text-decoration: none;
  color: inherit;
}

.button-reset{
    padding: 0;
    background-color: inherit;
    border: none;
}

.utility-icons{
    color: var(--text-color);
    cursor: pointer;
}
/* DEFAULT STYLES */

.header{
    padding: 1em 0.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid rgba(128, 128, 128, 0.322);
}

.header h1{
    font-family: "Montserrat", sans-serif;
    font-size: 1.3rem;
    font-weight: 600;
}
.header-nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.hamburger-menu-modal{
    padding-top: 0.5em;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100vh;
    background-color: var(--bg-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}
.hamburger-menu-modal div{
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 0.5em;
}

.hamburger-menu-modal ul {
    width: 100%;
    height: 100%;
    padding: 1em;
    border-top: 1px solid rgba(128, 128, 128, 0.37);
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 2em;
    font-size: 1.2rem;
}

.hamburger-menu-modal ul > li {
    font-weight: 500;
}

.search-modal{
    background-color: var(--bg-color);
    color: var(--text-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.1); /* translucent */
    backdrop-filter: blur(10px);               /* blurry effect */
    -webkit-backdrop-filter: blur(5px);       /* Safari support */
    border: 1px solid rgba(255, 255, 255, 0.2); /* optional border for depth */

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 1.5em;
}

.search-modal-content-container{
    padding-top: 10px;
    position: relative;
    background-color: red;
    color: var(--text-color);
    width: 100%;
    max-width: 600px;
    min-height: 200px;
    border-radius: 8px;
}
.search-modal-content-container button{
    position: absolute;
    top: 5;
    right: 0;
    background-color: transparent;
}
.search-modal-content-container form{
    width: 100%;
    border-bottom: 1px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-modal-content-container form > input {
    width: 80%;
    font-size: 1rem;
    padding: 0.2em;
    font-family: "Inter", sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    border: none;

}

.success{
    background-color: #ECFDF5;
    color: #047857;
    font-size: 0.875rem;
    font-weight: 400;
}
.success h3{
    margin-bottom: 10px;
    color: #065F46;
    font-size: 0.875rem;
    font-weight: 500;
}

.warning{
    background-color: #FFFBEB;
    color: #B45309;
    font-size: 0.875rem;
    font-weight: 400;
}
.warning h3{
    margin-bottom: 10px;
    color: #92400E;
    font-size: 0.875rem;
    font-weight: 500;
}

.error{
    background-color: #FEF2F2;
    color: #B45309;
    font-size: 0.875rem;
    font-weight: 400;
}
.error h3{
    margin-bottom: 10px;
    color: #92400E;
    font-size: 0.875rem;
    font-weight: 500;
}

.neutral{
    background-color: #EFF6FF;
    color: #1C51B9;
    font-size: 0.875rem;
    font-weight: 400;
}
.neutral h3{
    margin-bottom: 10px;
    color: #1E40AF;
    font-size: 0.875rem;
    font-weight: 500;
}
