@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@theme{
    --breakpoint-*: initial;
    --breakpoint-sm: 480px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1024px;
}
/* Root and Theme styles */
:root{
    --bg-color: #ffffff;
    --text-color: #1a1b1f;
    --border-divider: rgba(128, 128, 128, 0.37);

    font-family: 'Inter', sans-serif;

}
.dark{
    --bg-color: #1a1b1f;
    --text-color: #ffffff;
    --border-divider: rgba(128, 128, 128, 0.37);

    font-family: 'Inter', sans-serif;
}
